body {
    background-color: lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    width: 400px;
}

.title {
    background-color: orange;
    color: #fff;
    align-content: left;
    text-align: center;
    margin: auto;
    width: 350px;
    
}

.instructions {
    background-color: tan;
    color: green;
    width: 350px;
}

.numberToGuess {
    background-color: green;
    color: #000;
    height: 100px;
    width: 150px;
    align-content: left;
}

.winslosses {
    background-color: cyan;
    color: #000;
    height: 100px;
    width: 150px;
    margin: auto;
}

.totalScore {
    background-color: teal;
    width: 300px;
    height: 150px;
    margin: auto;
}

.crystal1 , .crystal2 , .crystal3 , .crystal4 {
    margin: auto;
}



