body {
    background-color: lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    width: 400px;
}

.title {
    background-color: orange;
    color: #fff;
    text-align: center;
    width: 375px;
    
}

.instructions {
    background-color: tan;
    color: green;
    width: 350px;
    height: 350px;
}

.numberToGuess {
    background-color: green;
    color: #000;
    height: 145px;
    width: 200px;
    font-size: 50px;
}

.winslosses {
    background-color: cyan;
    color: #000;
    height: 140px;
    width: 100px;
    margin: 5px;
}

.totalScore {
    background-color: teal;
    width: 300px;
    height: 150px;
    margin: auto;    
}

#totalScore {
    font-size: 50px;
}

.crystal1 , .crystal2 , .crystal3 , .crystal4 {
    margin: auto;
}




